body {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }

  .navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .nav-logo {
    font-weight: 900;
    color: #000;
    font-size: 1.7rem;
  }

  .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
  }

  .navbar-nav .nav-link:hover {
    color: #323232b3;
  }

  .hero-bg {
    background-image: url('./images/hero_1_a.jpg.webp');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
  }
   
  .hero .intro {
    text-align: left;
  }

  .hero .intro h1 {
    color: #000;
    font-size: 3rem;
    text-align: left;
  }

  .hero .intro strong {
    font-weight: bolder ;
  }

  .trip-form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }

  .trip-form .form-control,
  .trip-form .form-select {
    height: 45px;
    padding-right: 2.2rem;
  }

  .trip-form input[type="submit"] {
    background-color: #0779e4;
    border: none;
    color: #fff;
    padding: 12px;
  }

  .trip-form input[type="submit"]:hover {
    background-color: #0760b3;
  }

  .input-icon {
    position: relative;
  }
  
  .input-icon i {
    position: absolute;
    top: 50%;
    right: 14px; 
    transform: translateY(-50%);
    color: #999;
  }
  

  .step-box {
    background-color: white;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }
  
  .step-wrapper {
    position: relative;
    overflow: hidden; 
  }
  
  .step-number {
    position: absolute;
    font-size: 6rem;
    color: #0779e4;
    font-weight: bold;
    left: -25px;
    top: 20px;
    z-index: 7; 
    pointer-events: none;
  }
  
  .step-content {
    position: relative;
    z-index: 2; 
  }
  
  .step-content h6 {
    color: #0779e4;
    font-weight: bold;
  }
  
  .step-content h5 {
    font-weight: bold;
  }
  
  .step-content p {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .video-link {
    color: #0779e4;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
  }
  
  .play-icon {
    background-color: #0779e4;
    color: white;
    border-radius: 50%;
    padding: 0.7rem 0.9rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

.h2 {
    color: #364d59;
}

.promo-section {
    background-color: #ffffff;
    padding: 60px 0;
  }

  .promo-text p {
    color: rgba(0, 0, 0, 0.7);
  }

  .promo-img {
    width: 100%;
    max-width: 400px; 
    height: auto;
  }

  .btn-custom {
    background-color: #0779e4;
    color: #fff;
  }

  .btn-custom:hover {
    background-color: #0669c5;
  }


.card-section {
    background-color: #f8f8f8;
    padding: 60px 0;
  }

  .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .price {
    color: #0779e4;
  }

  .btn-rent {
    background-color: #0779e4;
    color: white;
    border-radius: none;
    padding: 12px;
  }
  .btn-rent:hover {
    background-color: #066ad1;
  }

  .card-text {
    color: rgba(0, 0, 0, 0.7);
  }

.feature-icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2c3e50;
    margin-left: 0;     
    margin-right: auto; 
  }

  .learn-more {
    color: #0779e4;
    text-decoration: none;
    font-weight: 300;
  }

  .learn-more:hover {
    text-decoration: underline;
  }

  .features-section {
    background-color: #fff;
    padding: 60px 0;
  }

.testimonial-cardss {
   background-color: #f8f8f8;
    border: none;
    border-bottom: 5px solid #0779e4;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    padding: 2rem;
    transition: all 0.3s ease;
    height: 100%;
  }

  .testimonial-text {
    color: #2c3e50;
    font-size: 1.1rem;
  }

  .testimonial-footer {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }

  .testimonial-footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .testimonial-footer h6 {
    margin: 0;
    font-weight: 600;
    color: #2c3e50;
  }

  .testimonial-footer small {
    color: rgba(0, 0, 0, 0.4);
  }

  .para{
    color: #b1adad;
  }


.footer-top {
    background-color: #0779e4;
    color: white;
    padding: 40px 20px;
    margin-top: 70px;
  }

  .footer-top p {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    font-size: 16px;
  }

  .footer-btn {
    background-color: white;
    color: #0779e4;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
  }

  .footer-btn:hover {
    background-color: #e0e0e0;
  }

  .footer {
    background-color: white;
    padding: 70px 0;
  }
  
  .footer .about-text {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  
  .footer .footer-link {
    text-align: left; 
  }
  
  .footer .footer-link a {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .footer .footer-link a:hover {
    color: #000;
  }
  
  .social-icons a {
    background-color: #0779e4;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
  }

  .texts{
    color: rgba(0, 0, 0, 0.9);
    font-weight: lighter;
    padding-bottom: 4px;
  }
  
  .social-icons a:hover {
    opacity: 0.8;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .footer-bottom i {
    color: red;
  }


@media (max-width: 768px) {
    .hero .intro h1 {
      font-size: 1.8rem;
      text-align: center;
    }

    .pt {
    padding-top: 90px;
    }

    .trip-form {
      padding: 20px;
    }

    .navbar-nav{
        padding-bottom: 50px;
    }

    .step-number{
       margin: 5px;
    }
    .step-box{
        margin: 20px;
    }
  }